# Dependency directories
node_modules/

# Production build
/dist/

# IDE/Editor specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.suo
*.user
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

